{% extends 'main.html' %}

{% block content %}


<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Change Password</h3>
      </div>
    </div>
    <div class="layout__body">
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}
  

      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class=" form__group">
          <label for="password">Password</label>
          <input id="password" name="password1" type="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
        </div>
        <div class=" form__group">
          <label for="password">Password Confirmation</label>
          <input id="password" name="password2" type="password"
            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
        </div>

        <button class="btn btn--main" type="submit">

          Save Changes
        </button>
      </form>

      <div class="auth__action">
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn--link">Go Back</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}